{% extends 'base.html' %}

{% load static %}

{% static 'img' as base_url %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <br>
    <hr>
    <div class="row">
        {% if score == 1 %}
            <div class="col-1">
                <img src="{% static 'img/happy.svg' %}" alt="">
            </div>
        {% elif score == 0.5 %}
            <div class="col-1">
                <img src="{% static 'img/neutral.svg' %}" alt="">
            </div>
        {% elif score == 0 %}
            <div class="col-1">
                <img src="{% static 'img/sad.svg' %}" alt="">
            </div>
        {%endif%}
        <div class"col">
            <p>Sentiment Score: {{ score  }}</p>
            <p>Sentiment Magnitude: {{ magnitude  }}</p>
        </div>
    </div>
    

</div>
    <p>The score is {{ score }}</p>

<br>
{% endblock content %}