{% extends 'base.html' %}

{% load static %}

{% static 'img' as base_url %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <br>
    <hr>
    <div class="row">
        
        {% if label %}
            {% if label == 'Happy' %}
                <div class="col-1 results">
                    <img src="{% static 'img/positive.svg' %}" alt="">
                </div>
            {% elif label == 'Negative' %}
                <div class="col-1 results">
                    <img src="{% static 'img/negative.svg' %}" alt="">
                </div>
            {% elif label == 'Neutral' %}
                <div class="col-1 results">
                    <img src="{% static 'img/neutral.svg' %}" alt="">
                </div>
            {% elif label == 'Mixed' %}
                <div class="col-1 results">
                    <img src="{% static 'img/positive.svg' %}" alt="">
                </div>
                <div class="col-1 results">
                    <img src="{% static 'img/negative.svg' %}" alt="">
                </div>
            {% endif %}
            <div class="col-3 results">
                <p>Sentiment: {{ label}}</p>
                <p>Sentiment Score: {{ score  }}</p>
                <p>Sentiment Magnitude: {{ magnitude  }}</p>
            </div>
            <div class="col results">
                <p><strong>Text Entered:</strong>  {{ short_text }}</p>
            </div>
        {% endif %}
    </div>
</div>

<br>
{% endblock content %}