{% extends 'base.html' %}

{% load static %}

{% static 'img' as base_url %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <br>
    <hr>
    <div class="row">
        
        {% if label %}
            {% if label == 'Positive' %}
                <div class="col-3 col-md-2 col-xl-1">
                    <img class="sentiment-img" src="{% static 'img/positive.png' %}" alt="">
                </div>
            {% elif label == 'Negative' %}
                <div class="col-3 col-md-2 col-xl-1">
                    <img class="sentiment-img" src="{% static 'img/negative.png' %}" alt="">
                </div>
            {% elif label == 'Neutral' %}
                <div class="col-3 col-md-2 col-xl-1">
                        <img class="sentiment-img" src="{% static 'img/neutral.png' %}" alt="">
                </div>
            {% elif label == 'Mixed' %}
                <div class="col-3 col-md-2 col-xl-1">
                    <img class="sentiment-img" src="{% static 'img/positive.png' %}" alt="">
                </div>
                <div class="col-3 col-md-2 col-xl-1">
                    <img class="sentiment-img" src="{% static 'img/negative.png' %}" alt="">
                </div>
            {% endif %}
            <div class="col-sm-6 col-md-5">
                <p><strong>Sentiment:</strong>  {{ label }}</p>
                <p><strong>Sentiment Score:</strong>  {{ score  }}</p>
                <p><strong>Sentiment Magnitude:</strong>  {{ magnitude  }}</p>
            </div>
            <div class="col-md-5 col-lg">
                <p><strong>Text Entered:</strong>  {{ short_text }}</p>
            </div>
        {% endif %}
    </div>
</div>

<br>
{% endblock content %}